/src/test/java/
/src/main/resources/org/optaplanner/examples/nurserostering/solver/nurseRosteringScoreRules.drl
/src/main/java/org/optaplanner/examples/nurserostering/swingui/EmployeePanel.java
/src/main/java/org/optaplanner/examples/nurserostering/swingui/NurseRosteringPanel.java
/src/main/java/org/optaplanner/examples/nurserostering/swingui/PrintUIWindow.java
/src/test/resources/
/Roster2018-05-18.csv
/nbactions.xml.bak
/src - backup sept/
/src - backup unmodified/
/target/
/target - testmap/
data/nurserostering/unsolved/CWZ_20181015.xml
local/log/optaplanner.log
src/main/resources/logback.xml
src/main/resources/logback.xml
